#container1 {
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
#picture_div{
    width: 20%;
    height: 200px;
    float: left;
}
#intro_div{
    width: 75%;
    height: 200px;
    float: right;
}
#profile_picture{
    height:90%;
    width: 90%;
    border-radius: 50%;
    display: block;
    padding: 10px;
}
#name{
    color:#1c504b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#profession{
    color: #54918b;
}
#contact_div{
    margin-right: 30px;
    margin-left: 30px;
    height: 50px;
    background-color: #1c504b;
}
#contact_info_table{
    width: 100%;
    color: lavender;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
table td{
    width: 20%;
}
#container2{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: fit-content;

}
#right_div{
    padding: 10px;
    width: 48%;
    float: right;
    height: 100%;
}
#left_div{
    padding: 10px;
    width: 48%;
    float: left;
    height: 100%;
}
#container2 h1{
    color: #1c504b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container2 h2{
    color: #54918b;
    font-family:'Times New Roman', Times, serif;
}
#container2 h3{
    font-style:oblique;
}
#container2 h4{
    font-style:oblique;
}
#container2 li{
    font-style: italic;
    font-size: 14pt;
}
#skills_table{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#skills_table td{
    width: 50%;
    background-color: rgb(207, 221, 220);
}
#skills_table li{
    font-style:normal;
    font-size: 14pt;
}
#container2 p{
    font-style: italic;
    font-size: 14pt;
}